{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}


<p>
    <h2>{{ article.title | raw }}</h2>
    <p>{{ article.content | raw }}</p>

    <h3>Comments</h3>
    {% for comment in comments %}
        <div class="comment">
            <div>
                <span class='date'>{{ comment.commentDate }} </span><strong>{{ comment.author.username }}</strong> said : {{ comment.content | raw }}<br>
                {% if commentForm %} 
                    <a href='{{ path('article', {'id': comment.article.id}) }}' class='warning' data-comment="{{ comment.id }}"><i class='fa fa-exclamation-circle'></i></a>
                    <a href='' id="{{ comment.id }}" class="replyLink">Reply</a>
                    <form method="post" action="{{ path('article', {'id': comment.article.id }) }}" class="form-group reply-form">
                        <textarea rows="2" class="form-control" placeholder="Enter your reply" name="content"></textarea>
                        <input type="hidden" name="parentId" value="{{ comment.id }}">
                        <input type="submit" class="btn btn-primary" value="Reply">
                    </form>
                {% endif %}
            </div>

            {% for answer in comment.childComments %}
                <div class="commentLv1">
                    <span class='date'>{{ answer.commentDate }} </span><strong>{{ answer.author.username }}</strong> said : {{ answer.content | raw }}<br>
                    {% if commentForm %}
                        <a href='{{ path('article', {'id': comment.article.id}) }}' class='warning' data-comment="{{ answer.id }}"><i class='fa fa-exclamation-circle'></i></a>
                        <a href='' id="{{ answer.id }}" class="replyLink">Reply</a>
                        <form method="post" action="{{ path('article', {'id': comment.article.id }) }}" class="form-group reply-form">
                            <textarea rows="2" class="form-control" placeholder="Enter your reply" name="content"></textarea>
                            <input type="hidden" name="parentId" value="{{ answer.id }}">
                            <input type="submit" class="btn btn-primary" value="Reply">
                        </form>
                    {% endif %}
                </div>

                {% for answer2 in answer.childComments %}
                    <div class="commentLv2">
                        <span class='date'>{{ answer2.commentDate }} </span><strong>{{ answer2.author.username }}</strong> said : {{ answer2.content | raw }}<br>
                        {% if commentForm %}
                            <a href='{{ path('article', {'id': comment.article.id}) }}' class='warning' data-comment="{{ answer2.id }}"><i class='fa fa-exclamation-circle'></i></a>
                            <a href='' id="{{ answer2.id }}" class="replyLink">Reply</a>
                            <form method="post" action="{{ path('article', {'id': comment.article.id }) }}" class="form-group reply-form">
                                <textarea rows="2" class="form-control" placeholder="Enter your reply" name="content"></textarea>
                                <input type="hidden" name="parentId" value="{{ answer2.id }}">
                                <input type="submit" class="btn btn-primary" value="Reply">
                            </form>
                        {% endif %}
                    </div>

                    {% for answer3 in answer2.childComments %}
                        <div class="commentLv3">
                            <a href='{{ path('article', {'id': comment.article.id}) }}' class='warning' data-comment="{{ answer3.id }}"><i class='fa fa-exclamation-circle'></i></a>
                            <span class='date'>{{ answer3.commentDate }} </span><strong>{{ answer3.author.username }}</strong> said : {{ answer3.content | raw }}<br>
                        </div>
                    {% endfor %}

                {% endfor %}
            {% endfor %}
        </div>
    {% else %}
        No comments yet.
    {% endfor %}

    <h3>Add a comment</h3>
    {% if commentForm %}
        {{ form_start(commentForm) }}
            <div class="form-group">
                {{ form_errors(commentForm.content) }}
                {{ form_widget(commentForm.content, { 'attr':  {
                    'rows': '4',
                    'class': 'form-control',
                    'placeholder': 'Enter your comment',
                }}) }}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Publish comment" />
            </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {% else %}
        <a href="{{ path('login') }} ">Log in</a> to add comments.
    {% endif %}
</p>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {

            // $('#comment_content').val('');

            $(".replyLink").on("click", function(e){
                var targetId = e.target.id;
                $('#' + targetId).next().css('display', 'block');
                e.preventDefault();
            });

            // Si clique sur la classe warning envoi requête ajax avec comme data commentId
            $('.warning').on('click', function(e) {
                e.preventDefault();
                var commentID = $(this).attr('data-comment');

                $.ajax({
                    url : $(this).attr('href'),
                    type : 'POST',
                    data : {commentId: commentID},
                    success : function(){console.log('requête ajax bien envoyée')},
                    error : function(resultat, satut, erreur){
                        console.log(resultat + erreur);
                    }
                });
            });
        });
    </script>
{% endblock %}